version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: deliveryapp_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourPassword
      POSTGRES_DB: delivery_app
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d delivery_app"]
      interval: 5s
      timeout: 3s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: deliveryapp_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8081:80"
    depends_on:
      - postgres

networks:
  default:
    name: deliveryapp_testing_net